@import '../../../styles/variables.scss';

.mypageBtn {
  @include flexRow(space-between, center);
  padding: 14px 20px 16px 20px;
  width: 198px;
  height: 50px;
  background-color: white;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(0, 0, 0, 0.05);
  cursor: pointer;

  .btnfontsize15 {
    font-size: 15px;
    color: rgb(0, 0, 0, 0.7);
  }
}

.mypageBtn:hover {
  background-color: #fafafa;

  .btnfontsize14 {
    color: $basic-color;
  }
}

.clickMypageBtn {
  @include flexRow(space-between, center);
  padding: 14px 20px 16px 20px;
  width: 198px;
  height: 50px;
  color: $basic-color;
  background-color: #fafafa;
  font-size: 15px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(0, 0, 0, 0.05);
  cursor: pointer;
}
