.mypageAddress {
  background-color: black;
  width: 820px;
  height: 657px;
}

.mypageUserInfo {
  background-color: #f7f7f7;
  width: 820px;
  height: 657px;
}

.Mypageorder {
  background-color: blue;
  width: 820px;
  height: 657px;
}
