@import '../../../styles/variables.scss';

.mypageUserModify {
  width: 820px;
  height: 657px;

  .testnone {
    display: none;
  }
  .test {
    font-size: 12px;
    color: red;
  }

  .userModifyHaader {
    @include flexRow(space-between, center);

    border-bottom: 2px solid black;

    .userModifyHaad {
      margin-top: 10px;
      padding: 0 0 35px 0;

      .userModifyManagement {
        height: 75px;
        font-size: 26px;
      }
    }
  }

  .userInfoModify {
    width: 100%;
    padding: 10px 20px;

    .usersInfoModify {
      display: flex;
      justify-content: center;
      align-items: center;

      .userInfoModifytitle {
        position: relative;
        padding-top: 12px;
        bottom: 2px;
        width: 139px;
        line-height: 20px;
        color: rgb(51, 51, 51);
        font-size: 14px;
        font-weight: 500;
      }

      .userInputTextFiled {
        padding: 10px 20px;

        .userInputModify {
          padding: 0px 11px 1px 15px;
          width: 333px;
          height: 46px;
          line-height: 1.5;
          outline: none;
          color: rgb(51, 51, 51);
          border-radius: 4px;
          border: 1px solid rgb(221, 221, 221);
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }

  .userInfoModifyDoneBtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid rgb(244, 244, 244);

    .deleteID {
      display: block;
      text-align: center;
      overflow: hidden;
      margin: 0px 3px;
      width: 120px;
      height: 52px;
      color: $basic-color;
      background-color: white;
      border-radius: 3px;
      border: 1px solid $basic-color;
      cursor: pointer;
    }
  }
}
