@import './../../../styles/variables.scss';

.cartInfoPrice {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $border-color;
  padding-top: 30px;
  background-color: rgb(250, 247, 247);
  border: 1px solid $border-color;
  border-top: none;

  .priceInfoSection {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin: 6px 0;

    &:last-of-type {
      margin-top: 16px;

      .priceInfo {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}
