@import './../../../styles/variables.scss';

.cartProduct {
  width: 742px;
  padding: 10px;

  .checkSection {
    display: flex;
    align-items: center;
    height: 36px;

    .checkIcon {
      width: 24px;
      height: 24px;
      color: $basic-color;
      cursor: pointer;
    }

    .uncheckIcon {
      width: 24px;
      height: 24px;
      color: lightgray;
      cursor: pointer;
    }

    .wholeCheckWord {
      margin-left: 12px;
    }

    .checkCountSection {
      margin-left: 5px;
    }

    .stick {
      margin: 0 20px;
    }

    .deleteBtnSection {
      padding-bottom: 4px;

      .deleteSelectionBtn {
        padding: 0;
        background-color: white;
        border: none;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }

  .cartLineTop {
    width: 100%;
    border: 1px solid black;
    margin: 10px 0;
  }

  .cartTitleSection {
    display: flex;
    align-items: center;
    margin: 15px 0;

    .cartIcon {
      width: 30px;
      height: 30px;
      color: skyblue;
      margin-right: 5px;
    }

    .wholeProduct {
      padding-top: 3px;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .emptyBaseketSection {
    @include flexRow(center, center);
    height: 200px;
    font-size: 18px;
    color: $border-color;
  }
  .cartLineUnder {
    width: 100%;
    border: 1px solid $border-color;
    margin: 10px 0;
  }
}
