@import '../../../styles/variables.scss';
.mainCard {
  height: 610px;
  width: 1100px;
  background-color: yellow;
  position: relative;

  .mainCardTitle {
    @include flexRow(center, center);
    width: 1050px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 500;
    line-height: 32.2px;
  }
  .mainCardSlide {
    @include flexRow(space-between, center);
    height: 455px;
    width: 1050px;

    .mainCardSlideItem {
      width: 249px;
      height: 432px;
      border: 1px solid #dddddd;
    }
  }
  .mainCardSlideBtn {
    @include flexRow(space-between, center);
    width: 1050px;
    cursor: pointer;
    position: absolute;
    top: 55%;
    .mainCardSlideBtnLeft {
      height: 43px;
      width: 43px;
      border: 1px solid #dddddd;
      border-radius: 100%;
      margin-left: -20px;
      background-color: white;
      box-shadow: 0.2em 0.2em 0.2em #dddddd;
    }
    .mainCardSlideBtnRight {
      height: 43px;
      width: 43px;
      border: 1px solid #dddddd;
      border-radius: 100%;
      margin-right: -20px;
      background-color: white;
      box-shadow: 0.2em 0.2em 0.2em #dddddd;
    }
  }
}
