.productCard {
  width: 249px;
  position: relative;

  .productImg {
    height: 320px;
    width: 249px;
  }
  .shoppingCartBtn {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    bottom: 110px;
    left: 190px;

    img {
      width: 45px;
      height: 45px;
    }
  }
  .productInfo {
    height: 92.39px;
    padding: 14px 10px 0 0;
    h3 {
      font-size: 16px;
    }
  }
  .contentRow {
    font-size: 16px;
    font-weight: 800;
    margin: 8px 0 8px 0;
  }
}
