.productCard {
  width: 249px;
  position: relative;
  margin-bottom: 10px;
  .productImg {
    height: 320px;
    width: 249px;
    background-color: #dddddd;
  }

  .shoppingCartBtn {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    bottom: 110px;
    left: 190px;

    .shoppingCart {
      width: 45px;
      height: 45px;
    }
  }

  .productInfo {
    height: 92.39px;
    padding: 14px 10px 0 0;
    background-color: white;

    h3 {
      font-size: 16px;
    }
  }

  .contentRow {
    font-size: 16px;
    font-weight: 800;
    margin: 8px 0;
  }
}
