@import './../../../../styles/variables.scss';

.ordererInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1050px;

  .ordererInfoTitle {
    display: flex;
    align-items: center;
    height: 62px;
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: 500;
  }

  .ordererInfoRow {
    display: grid;
    grid-template-columns: 160px 860px;
    grid-column-gap: 10px;
    align-items: center;
    height: 50px;
    padding-top: 20px;

    .infoTitle {
      text-indent: 10px;
      font-weight: 600;
    }
  }

  .additionalInfo {
    margin-top: 5px;
    padding-left: 170px;
    color: $border-color;
    font-size: 12px;
  }
}
