@import './../../../../styles/variables.scss';

.orderAddress {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1050px;
  margin-top: 50px;

  .titleSection {
    @include flexRow(space-between, center);
    height: 62px;
    border-bottom: 1px solid;
    font-size: 20px;
    font-weight: 500;

    .changeAddressInfo {
      display: flex;
      align-items: center;
      color: $border-color;
      font-size: 14px;
      cursor: pointer;
    }

    .questionIcon {
      margin-left: 5px;
    }
  }

  .changeAddressInfoWindow {
    position: absolute;
    top: 50px;
    right: 20px;
    @include flexColumn(center, flex-start);
    width: 188px;
    height: 60px;
    padding: 0 20px;
    background-color: $basic-color;
    line-height: 20px;
    color: white;
    font-size: 12px;
    border-radius: 6px;

    .closeWindow {
      position: absolute;
      top: 10px;
      right: 15px;
      background-color: transparent;
      border: none;
      color: white;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .orderAddressSection {
    display: grid;
    grid-template-columns: 160px 860px;
    grid-column-gap: 10px;
    align-items: center;
    margin-top: 20px;
    height: 50px;

    .addressTitle {
      text-indent: 10px;
      font-weight: 600;
    }

    .addressInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .defaultAddress {
      width: 70px;
      height: 20px;
      margin-bottom: 8px;
      padding-top: 5px;
      text-align: center;
      background-color: $light-gray-color;
      border-radius: 11px;
      color: $border-color;
      font-size: 12px;
    }

    .anotherAddress {
      display: flex;
      align-items: center;
    }

    .anotherAddressInput {
      width: 60px;
      height: 30px;
      margin-left: 10px;
      background-color: white;
      border: 1px solid $basic-color;
      border-radius: 3px;
      color: $basic-color;
      cursor: pointer;
    }

    .plzInputAddress {
      color: #f03f40;
    }
  }
}
