@import './../../styles/variables.scss';

.payment {
  @include flexColumn(center, center);
  width: 1050px;
  margin: 80px auto;

  .paymentTitle {
    padding-bottom: 48px;
    height: 84px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
  }

  .paymentBtnSection {
    @include flexColumn(center, center);
    margin-top: 40px;
    .paymentBtn {
      background-color: $basic-color;
      border-radius: 4px;
      width: 240px;
      height: 56px;
      border: none;
      color: white;
      font-size: 18px;
      cursor: pointer;
    }

    .paymentInfo {
      font-size: 14px;
      color: $border-color;
      margin-top: 30px;
      line-height: 24px;
      text-align: center;
    }
  }
}
