body {
  background-color: yellow;
}

.shoppingModal {
  height: 322.094px;
  width: 440px;
  margin: 32px;
  padding: 30px;
  max-width: 600px;
  font-size: 16px;
  position: relative;
  border: 1px black;
  background-color: white;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .shoppingModalTop {
    .shoppingModalName {
      font-size: 14px;
    }
    .shoppingModalCount {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span {
        font-size: 16px;
        font-weight: 700px;
      }

      input {
      }
    }
  }
  .shoppingModalMiddle {
    .shoppingModalPrice {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      span {
      }
      div {
      }
    }
  }
  .shoppingModalBottom {
    text-align: center;
    border-radius: 10px;
    cursor: pointer;

    .cancelShoppingModalBtn {
      font-size: 16px;
      font-weight: 700px;
      width: 186px;
      height: 52px;
      padding: 0 10px;
      margin: 0 4px;
      background-color: white;
      border: 1px solid #dddddd;
      border-radius: 4px;
    }
    .addShoppingModalBtn {
      font-size: 16px;
      font-weight: 700px;
      width: 186px;
      height: 52px;
      padding: 0 10px;
      margin: 0 4px;
      background-color: white;
      border: 1px solid #dddddd;
      border-radius: 4px;
    }
  }
}
