@import '../../styles/variables.scss';

.navCategoryfixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  top: 0px;
  background-color: white;

  .categoryStyle {
    width: 1050px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 60px;
    margin: 0 auto;
  }

  button {
    background-color: white;
    border: none;
  }

  .category {
    position: relative;
    bottom: 1px;
    margin-left: -20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }

  .categoryBtn:nth-child(1):hover {
    color: $basic-color;
  }
  .categoryBtn:nth-child(2):hover {
    color: $basic-color;
  }
  .categoryBtn:nth-child(3):hover {
    color: $basic-color;
  }
  .categoryBtn:nth-child(4):hover {
    color: $basic-color;
  }

  .category:hover {
    color: $basic-color;
  }

  .itemCategory span {
    padding: 0 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }

  .sideCategory {
    position: relative;
    margin-left: 32px;
    display: inline-block;
  }
  .sideCategory > ul {
    position: absolute;
    top: 42.5px;
    left: -20px;
    width: 200px;
    background-color: white;
    border: none;
    z-index: 9999;
  }
  .meatCategory {
    padding: 20px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    color: rgb(0, 0, 0, 0.6);
    font-weight: bold;
    cursor: pointer;
  }

  .luciferParcel {
    width: 125px;
    height: 27px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 18px;
    margin-bottom: 3px;
    cursor: pointer;
  }

  .lucifer {
    color: #5f0080;
    font-size: 13px;
  }
  .parcel {
    font-size: 13px;
  }
}

.navCategory {
  left: 0;
  right: 0;
  top: 80px;
  z-index: 9999;
  top: 0px;
  background-color: white;

  .categoryStyle {
    width: 1050px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 60px;
    margin: 0 auto;
  }

  button {
    background-color: white;
    border: none;
  }

  .category {
    position: relative;
    bottom: 1px;
    margin-left: -20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }

  .categoryBtn:nth-child(1):hover {
    color: $basic-color;
  }
  .categoryBtn:nth-child(2):hover {
    color: $basic-color;
  }
  .categoryBtn:nth-child(3):hover {
    color: $basic-color;
  }
  .categoryBtn:nth-child(4):hover {
    color: $basic-color;
  }

  .category:hover {
    color: $basic-color;
  }

  .itemCategory span {
    padding: 0 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }

  .sideCategory {
    position: relative;
    margin-left: 32px;
    display: inline-block;
  }
  .sideCategory > ul {
    position: absolute;
    top: 42.5px;
    left: -20px;
    width: 200px;
    background-color: white;
    border: none;
    z-index: 1000;
  }

  .luciferParcel {
    width: 125px;
    height: 27px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 18px;
    margin-bottom: 3px;
    cursor: pointer;
  }

  .lucifer {
    color: #5f0080;
    font-size: 13px;
  }

  .parcel {
    font-size: 13px;
  }
}

.meatCategory:hover {
  background-color: rgb(245, 244, 244);
}

.subCategorydiv:nth-child(2) {
  position: absolute;
  top: 0px;
  left: 200px;
  width: 200px;
  height: 290px;
  background-color: rgb(245, 244, 244);
}

.subCategoryli {
  padding: 21px;
}

.subCategoryli:hover {
  color: #5f0080;
}

.category {
  background-color: white;
  color: black;
  padding: 15px;
  font-size: 16px;
  border: none;
  z-index: 10;
  cursor: pointer;
}

.middleCategory {
  display: none;
  margin-top: 15px;
}

.meatCategory {
  border: 1px solid rgb(0, 0, 0, 0.1);
  padding: 20px;
  color: rgb(0, 0, 0, 0.6);
  font-weight: bold;
  cursor: pointer;
}

.sideCategory:hover .middleCategory {
  display: inline-block;
}
