.loginSignup {
  width: 1050px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-size: 11px;
  color: rgb(0, 0, 0, 0.7);
  margin: 5px auto 10px auto;

  button {
    background-color: white;
    border: none;
  }

  .loginbtn {
    border-right: 1px solid rgb(0, 0, 0, 0.1);
    padding-right: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  .signup {
    color: #5f0080;
    border-right: 1px solid rgb(0, 0, 0, 0.1);
    padding-right: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  .inquiry {
    cursor: pointer;
  }
}
