@import './../../../../styles/variables.scss';

.orderProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1050px;

  .titleSection {
    @include flexRow(space-between, center);
    width: 100%;
    height: 62px;
    border-bottom: 1px solid black;

    .orderProductTitle {
      font-size: 20px;
      font-weight: 500;
    }

    .arrowIcon {
      font-size: 24px;
      cursor: pointer;
    }
  }

  .orderProductContent {
    @include flexRow(center, center);
    width: 100%;
    font-size: 20px;
    font-weight: 500;
  }

  .reperesnetTitle {
    @include flexRow(center, center);
    height: 120px;
    font-size: 22px;
  }
}
